<main class="main-content">
  <body>
     <!-- header content -->
  <header class="header-bar">
    <div class="logo-wrapper">
      <div class="content"><img src="../media/notes.png" alt="" class="logo"></div>
      <div class="content"><h2>GogolTasx</h2></div>
    </div>

    <div class="search-bar-wrapper">
      <app-search-bar></app-search-bar>
    </div>
  </header>

  <!-- Body Content -->
  <div class="body-content">
    <div class="side-bar">
        <img src="../media/notes.png" alt="">
        <img src="../media/bin.png" alt="">
        <img src="../media/checked.png" alt="">
        <img src="../media/information.png" alt="">
    </div>
      <div class="main-content-container">
        <section class="header-spacer"></section>
          <section class="input-section">
            <app-notes-input-box></app-notes-input-box>
          </section>
          <section class="content-output-section">
             <app-output-table [record]="records"></app-output-table>
          </section>
      </div>
    </div>


  </body>
</main>

