.note-card {
  padding: 14px;
  background-color: white;
  height: fit-content;
  width: fit-content;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 16px;
  display: flex;
  position: relative;
  flex-direction: column;
  box-shadow: 10px 8px 0px rgb(0, 0, 0);
  inset: 0;
  margin: auto;
  overflow: hidden;


  .tool-bar {
    margin-right: 14px;
  }

  input, textarea {
    resize: vertical;
    min-width: 400px;
    border-width: 0px;
    padding: 10px;
  }

  textarea {
    width: 440px;
  }

  input {
    font-weight: 600;
    font-size: 30px;
  }
}
