<!-- header content -->

<!-- <main class="main-content">
</main> -->

<body id="body">
  <main>
    <header class="header-bar">
      <div class="logo-wrapper">
        <div class="content"><img src="../media/notes.png" alt="" class="logo"></div>
        <div class="content">
          <h2>GogolTasx</h2>
        </div>
      </div>

      <div class="search-bar-wrapper">
        <app-search-bar ngSkipHydration="true"></app-search-bar>
      </div>
    </header>
    <router-outlet />
  </main>
</body>
